<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分类页</title>
    <link rel="stylesheet" href="../css/base.css"><!-- 初始化文件 -->
    <link rel="stylesheet" href="../lib/mui/css/muie.css"><!-- mui扩展字体 -->
    <link rel="stylesheet" href="../lib/fonctawesome/css/font-awesome.css"><!-- 字体图标 -->
    <link rel="stylesheet" href="../lib/mui/css/mui.ss"><!-- mui插件 -->
</head>

<body class="eleToggle">
    <div class="layoyt">
        <!-- 头部 -->
        <header id="header" class="mui-bar mui-bar-nav">
            <h1 class="mui-title">慢慢买</h1>
        </header>
        <div class="content">
             

        </div>
        <!-- 底部 -->
        <div class="footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item " href="../index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item " href="../views/category.html">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item mui-active" href="../views/cart.html">
                    <span class="mui-icon-extra mui-icon-extra-cart shoppingICON"></span>
                    <span class="mui-tab-label shopping ">购物车</span>
                </a>
                <a class="mui-tab-item" href="../views/myContent.html">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </nav>
        </div>
    </div>

    <script src="../lib/mui/js/mui.min.js"></script><!-- mui 插件-->
    <script src="../lib/arttemplate/template-web.js"></script><!-- template模板渲染 -->
    <script src="../lib/iscroll/iscroll.js"></script><!-- 滚动插件 -->
    <script src="../lib/zepto/zepto.js"></script><!-- zepto第三方jq -->
    <script src="../js/common.js"></script><!-- 公共js 基准路径 -->
    <script src="../js/category.js"></script><!--分类页 -->
</body>

</html>