<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>慢慢买品牌</title>
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../lib/mui/css/muie.css">
    <link rel="stylesheet" href="../css/pinpaigetbrand.css">

</head>

<body>
    <div class="layout">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="mmm_header">
                    <div class="mm_logo"><img src="../images/header_logo.png" alt=""></div>
                    <div class="appDownload">
                        <img src="../images/header_app.png" alt="">
                    </div>
                </div>
                <div class="mmm_search">
                    <div class="mui-input-row mui-search search_text">
                        <input type="search" class="mui-input-clear" placeholder="请输入商品名称">
                        <span class="mui-icon mui-icon-search"></span>
                    </div>
                    <button type="button" class="mui-btn btn_search">搜索</button>
                </div>
                <div class="mmm_nav">
                    <ul class="navList">
                        <li><a href="javascript:;">首页 ></a></li>
                        <li><a href="javascript:;">全部分类 ></a></li>
                        <li><a href="javascript:;">品牌大全 ></a></li>
                        <li><button type="button" class="mui-btn btn_search">筛选</button></li>
                    </ul>

                    <ul class="tvBrand_list">

                    </ul>
                    <div class="mui-content-padded">
                        <ul class="mui-pager">
                            <li class="mui-previous">
                                <a href="#">
                                    上一页
                                </a>
                            </li>
                            <li class="mui-next">
                                <a href="#">
                                    下一页
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="consider"><a href="javascript:;">平板电视产品销量排行</a></div>
                    <div class="newComments"><a href="javascript:;">平板电视最新评论</a></div>
                </div>
                <div class="mmm_footer">
                    <div class="footer_nav">
                        <a href="javascript:;">登录</a>
                        <a href="javascript:;">注册</a>
                        <a href="#"><span>↑</span>返回顶部</a>
                    </div>
                    <div class="appDownload">
                        <div>
                            <a href="javascript:;">手机APP下载</a>
                            <a href="javascript:;">慢慢买手机版</a>
                            <span> -- 掌上比价平台</span>
                        </div>
                        <div class="appWeb">m.manmanbuy.com </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/template" id="productListTemp">
    {{each result value index}}

<li><a href="pinpaicomment.html?productId={{value.productId}}&brandId={{value.brandId}}&categoryId={{value.categoryId}}">
        <div class="riking">{{@value.productImg}}</div>
        <div class="tvBrand">
            <h3>{{value.productName}}</h3>
            <div class="price">{{value.productPrice}}</div>
            <p><span>{{value.productCom}}</span>&nbsp;<span class="commment">{{value.productCom}}</span></p>
        </div>
    </a>
</li>

{{/each}}
</script>
<script src="../lib/mui/js/mui.min.js"></script>
<script src="../lib/zepto/zepto.js"></script>
<script src="../lib/arttemplate/template-web.js"></script>
<script src="../js/common.js"></script>
<script src="../js/pinpaigetbrand.js"></script>

</html>